---
layout: default
title: "Obchodování s kryptoměnami"

header: [Kryptoměna, BTC kurz (Poloniex), Vývoj ceny (1H) ]



---

{% if page.header %}
<div class="tbl-header">
  <table cellpadding="0" cellspacing="0" border="0">
    <thead>
      <tr>
        {% for item in page.header %}
        <th>{{ item }}</th>
        {% endfor %}
      </tr>
    </thead>
  </table>
</div>
{% endif %}

<div class="tbl-content">
  <table cellpadding="0" cellspacing="0" border="0">
      <tbody>

        {% raw %}
        <tr>
            <td>AltIndex</td>
            <td>{{ $data.gridData.index | bitcoins }}</td>
            <td>{{ $data.gridData.hchange | percents }}</td>
        </tr>
        <tr>
            <td>Ethereum</td>
            <td>{{ $data.gridData.eth_price | bitcoins }}</td>
            <td>{{ $data.gridData.eth_hchange | percents }}</td>
        </tr>
        <tr>
            <td>Monero</td>
            <td>{{ $data.gridData.xmr_price | bitcoins }}</td>
            <td>{{ $data.gridData.xmr_hchange | percents }}</td>
        </tr>
        <tr>
            <td>Ripple</td>
            <td>{{ $data.gridData.xrp_price | bitcoins }}</td>
            <td>{{ $data.gridData.xrp_hchange | percents }}</td>
        </tr>
        <tr>
            <td>Litecoin</td>
            <td>{{ $data.gridData.ltc_price | bitcoins }}</td>
            <td>{{ $data.gridData.ltc_hchange | percents }}</td>
        </tr>
        <tr>
            <td>Bitcoin Cash</td>
            <td>{{ $data.gridData.bch_price | bitcoins }}</td>
            <td>{{ $data.gridData.bch_hchange | percents }}</td>
        </tr>
        {% endraw %}




      </tbody>
  </table>
</div>
