<table class="airdrops">
  <tr>
    <th>Altcoin</th>
    <th>Datum nebo deadline</th>
    <th>Jak se zúčastnit</th>
    <th>Link k airdropu</th>
    <th>Další info</th>
  </tr>

  <tr>
    <td>Ontology / $ONT (NEO holders airdrop)</td>
    <td>Block 1974823, 1 březen 2018</td>
    <td>NEO holdeři dostanou $ONT tokens, 0.1 $ONT za každý 1 NEO.</td>
    <td><a rel="nofollow" target="_blank" href="https://neo.org/blog/details/3061">neo.org</a></td>
    <td><a rel="nofollow" target="_blank" href="https://ont.io/">ont.io</a></td>
  </tr>
  <tr>
    <td>Byteball / $GBYTE</td>
    <td>2 březen 2018 00:51 UTC</td>
    <td>Holdeři BTC nebo GBYTE dostanou další GBYTE a BlackByte tokeny.</td>
    <td><a rel="nofollow" target="_blank" href="https://byteball.org/">byteball.org</a></td>
    <td><a target="_blank" href="https://www.altcointrading.net/byteball">at.net</a></td>
  </tr>
  <tr>
    <td>Callisto / $CLO (ETC Fork)</td>
    <td>Block 5500000 (cca 5 březen 2018)</td>
    <td>ETC holdeři dostanou Callisto tokeny v poměru 1:1. CLO je nový altcoin který používá systém podobný POS - cold staking, proces založený na smart-contractu. Holdeři Callista v tomto systémy vydělávají peníze za to že coin mají v peněžence po dobu delší než 1 měsíc.</td>
    <td><a rel="nofollow" target="_blank" href="https://drive.google.com/file/d/16sW_0YajCedBdLvr9jmgJqE9L-SzuYKq/view">Callisto Whitepaper</a></td>
    <td><a target="_blank" href="https://twitter.com/i/moments/953111450796601344?lang=en">Twitter</a></td>
  </tr>
  <tr>
    <td>MoneroV / $XMV (XMR Fork)</td>
    <td>Block 1529810 (cca 14 březen 2018)</td>
    <td>XMR holdeři dostanou XMV - 1 XMR : 10 XMV. XMV slibuje nižší feečka, capped supply a svobodu od zneužívání botnety. <a href="https://www.reddit.com/r/MoneroV/comments/7x9mja/monerov_airdrop_automatic/du6pdki/">Tento fork je velmi kontroverzní</a> protože čím víc lidí claimne XMV, tím víc jsou porušeny privacy vlastnosti původního XMR.</td>
    <td><a rel="nofollow" target="_blank" href="https://monerov.org/">monerov.org</a></td>
    <td><a target="_blank" href="https://www.reddit.com/r/MoneroV/">Reddit</a></td>
  </tr>
  <tr>
    <td>Orbis Token / $OBT</td>
    <td>Mezi 28 únorem a 31 březnem 2018</td>
    <td>$OBT je velmi user-friendly kryptoměna vyvíjená na NEO platformě. Orbis bude po celý březen rozdávat Orbis Tokeny (OBT) za engagement na sociálních sítích. Je potřeba mít připravenou NEO adresu.</td>
    <td><a rel="nofollow" target="_blank" href="https://cryptodisrupt.com/orbis-airdrop/">cryptodisrupt</a></td>
    <td><a target="_blank" href="https://medium.com/orbis-web/introducing-our-token-its-utility-194b1d46beb9">About $OBT</a></td>
  </tr>

  <tr>
    <td>Hempcoin / $THC (Fork)</td>
    <td>Přesunuto to Q2 2018</td>
    <td>Hempcoin přesunul fork blíže k polovině roku 2018. Nový THC token bude mít vylepšenou anonymizaci a také masternody. $THC se momentálně obchoduje na Bittrexu.</td>
    <td><a rel="nofollow" target="_blank" href="http://hempcoin.org/THC.pdf">hempcoin.org</a></td>
    <td><a rel="nofollow" target="_blank" href="https://twitter.com/TheHempCoin/status/966824266267316224">Twitter</a></td>
  </tr>

</table>
