
<div class="row no-gutters social-media">

  <div class="col-md-12 col-sm-12 footer-social text-center sm-text-center">
    <!-- social media link -->
    <a target="_blank" href="https://www.facebook.com/Altcoin-Trading-Česko-359189774556714/"><i class="fa fa-facebook"></i></a>
    <a target="_blank" href="https://t.me/altcointrading_net"><i class="fa fa-telegram"></i></a>
    <a target="_blank" href="https://reddit.com/r/altcointrader"><i class="fa fa-reddit"></i></a>
    <a target="_blank" href="https://medium.com/cryptolounge"><i class="fa fa-medium"></i></a>
    <a target="_blank" href="https://twitter.com/tradingfanbois"><i class="fa fa-twitter"></i></a>
    <a target="_blank" href="mailto:info@altcointrading.cz"><i class="fa fa-mail-reply"></i></a>
     <!-- end social media link -->
    </div>

</div>

<div class="row no-gutters social-media">
  <div class="col-md-12 col-sm-12 footer-social text-center sm-text-center">
    {% for item in site.ref %}

      {{ item[1] }}

    {% endfor %}
  </div>
</div>

<div class="row no-gutters social-media">
  <div class="col-md-12 col-sm-12 footer-social text-center sm-text-center">
    &copy; 2018 altcointrading.cz | info@altcointrading.cz - cz@altcointrading.net - t.me/altcointrading_net
  </div>
</div>
</div><!-- main -->

<!-- newsletter -->
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us15.list-manage.com","uuid":"b5cca524e997c8e12f8ad51e1","lid":"cd7524167c"}) })</script>
